@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

.App {
  text-align: center;
  font-family: "Poppins";
  background: linear-gradient(to right, #ff8ace, #ff8080, #ff8ace  ) ;
  height: 100vh;
  font-size: 25px;
  
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list {
  
  font-weight: bolder;
  
  
}